* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

header {
  padding: 0.5rem 9rem;
  background-color: #ff7754;
  color: white;
  font-size: 0.8rem;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.top-header i {
  margin-right: 0.2rem;
}

main {
  display: block;
}
