@media print {
  body {
    background-color: red;
  }
}

@media (orientation: landscape) {
  body {
    background-color: black;
    color: white;
  }
}

@media (orientation: portrait) {
  body {
    background-color: blue;
    color: white;
  }
}

@media (min-width: 50em) {
  p {
    column-count: 2;
  }
}

@media (max-width: 60em) {
  p {
    color: red;
  }
}
